<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>groupedItemsPage</title>
    
    <!-- WinJS references -->
    <script src="//Microsoft.WinJS.1.0.RC/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0.RC/js/ui.js"></script>
    
    <link href="/css/default.css" rel="stylesheet" />
    <link href="/pages/groupedItems/groupedItems.css" rel="stylesheet" />
    <script src="/js/data.js"></script>
    <script src="/pages/groupedItems/groupedItems.js"></script>
</head>
<body>
    <!-- These templates are used to display each item in the ListView declared below. -->
    <div class="headerTemplate" data-win-control="WinJS.Binding.Template">
        <p class="group-title win-type-x-large" data-win-bind="textContent: title; groupKey: key" 
            onclick="WinJS.Navigation.navigate('/pages/groupDetail/groupDetail.html', { groupKey: event.srcElement.groupKey })" role="link"></p>
    </div>
    
    <div class="itemtemplate" data-win-control="WinJS.Binding.Template">
        <div class="regularitem">
            <div class="thumbnailViewer">
                <img class="thumbnail" src="#" data-win-bind="alt: name" />
            </div>
            <div class="item-overlay">
                <h4 class="item-title" data-win-bind="textContent: name"></h4>
                <h6 class="item-subtitle win-type-ellipsis" data-win-bind="textContent: description"></h6>
            </div>
        </div>
    </div>

    <div class="listitemtemplate" data-win-control="WinJS.Binding.Template">
        <img class = "tilebackground" src = "#" />
        <p class="title" data-win-bind="textContent: title"></p>
    </div>
    
    <div class="largeitemtemplate" data-win-control="WinJS.Binding.Template">
        <div class="largeitem">
            <img class="thumbnail" src="#" data-win-bind="alt: name" />
            <div class="item-overlay">
                <h4 class="item-title" data-win-bind="textContent: name"></h4>
                <h6 class="item-subtitle win-type-ellipsis" data-win-bind="textContent: description"></h6>
            </div>
        </div>
    </div>

    <!-- The content that will be loaded and displayed. -->
    <div class="fragment groupeditemspage">
        <header aria-label="Header content" role="banner">
            <button class="win-backbutton" aria-label="Back" disabled></button>
            <h1 class="titlearea win-type-ellipsis">
                <span class="pagetitle">Template</span>
                <label id="loadingControl" class="progressBarText"><progress style="width: 40px; height: 40px" class="win-ring withText"></progress></label>
            </h1>
        </header>
        <section aria-label="Main content" role="main">
            <!-- "No internet" message. It is a lie, we may have been able to fetch content -->
            <div id="no-internet-message" class="warning-message" style="display:none;">Cannot fetch content because connection is unavailable, please connect your device to the internet.</div>

            <div class="groupeditemslist" aria-label="List of groups" data-win-control="WinJS.UI.ListView" data-win-options="{ selectionMode: 'none',
                    itemDataSource: Data.items.dataSource, 
                    groupDataSource: Data.groups.dataSource }"></div>
        </section>
    </div>
</body>
</html>
