/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface {
    margin-left: 45px;
    margin-bottom: 60px;
}

.groupeditemspage .groupeditemslist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

.groupeditemspage header[role=banner] img {
    max-height: 100%;
    width: auto;
    float: left;
}

#loadingControl {
    display: inline-block;
    font-family: "Segoe UI";
    font-size: 11pt;
    line-height: 15px;
    color: white;
    float: left;
    margin-top: 25px;
}


    #loadingControl progress {
        color: white;
        vertical-align: bottom;
        margin: 0 10px;
    }

    .largeitem {
        width: 545px!important;
        height: 510px;
        -ms-grid-columns: 3fr;
        -ms-grid-rows: 0;
        background: #000;
        text-align: center;
        position: relative;
    }

        .largeitem img {
            min-height: 510px;
            min-width: 545px;
            -ms-interpolation-mode: bicubic;
            position: absolute;
        }

    .regularitem {
        width: 175px!important;
        height: 250px;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr;
        background: #000;
        text-align: center;
        position: relative;
    }

        .regulatitem .thumbnailViewer {
            overflow: hidden;
            height: 250px;
            width: 175px;
            position: relative;
        }

            .regularitem .thumbnailViewer img {
                min-height: 250px;
                min-width: 175px;
                -ms-interpolation-mode: bicubic;
                position: absolute;
            }
    
    .groupeditemspage .groupeditemslist .win-groupheader {
        margin-top: 5px;
        margin-left: 70px;
        padding: 0;
    }

        .groupeditemspage .groupeditemslist .win-groupheader .group-title {
            margin-bottom: 10px;
            margin-left: 5px;
            margin-top: 0;
        }


        .groupeditemspage .groupeditemslist .win-item .item-overlay {
            display: block;
            padding: 2%;
            background: rgba(0,0,0,0.7);
            position:absolute;
            bottom:0;
            left:0;
            width:96%;
            text-align:center;
            min-height: 40px;
        }

            .groupeditemspage .groupeditemslist .win-item .item-overlay .item-title {
                overflow: hidden;
            }

            .groupeditemspage .groupeditemslist .win-item .item-overlay .item-subtitle {
                
            }

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {
    .groupeditemspage .groupeditemslist .win-item .item-overlay {
        background: rgba(0,0,0,0.7);
    }

        .groupeditemspage .groupeditemslist .win-item .item-overlay .item-title {
            color: rgba(255,255,255,0.8);
        }

        .groupeditemspage .groupeditemslist .win-item .item-overlay .item-subtitle {
            color: rgba(255,255,255,0.6);
        }
}

@media screen and (-ms-view-state: snapped) {

    .groupeditemspage .groupeditemslist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
        margin-left: 6px;
    }

    .groupeditemspage .groupeditemslist .win-vertical.win-viewport .win-container {
        margin-right: 42px;
        margin-bottom: 15px;
        padding: 7px;
    }

    .groupeditemspage .groupeditemslist .win-item {
        height: 120px;
        width: 272px;
        background: rgba(0, 0, 0, 0.6);
    }

        .groupeditemspage .groupeditemslist .win-item .title {
            font-size: 22px;
            padding: 0 20px 20px 0;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            text-align: right;
            margin: 0;
            line-height: 200px;
        }
        .groupeditemspage .groupeditemslist .win-item img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-left: 25px;
    }
}
