<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Template</title>

    <!-- WinJS references -->
    <!-- <link href="//Microsoft.WinJS.1.0/css/ui-light.css" rel="stylesheet" />-->
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>
    <script src="js/moment.js"></script>

    <!-- Joshfire Factory bootstrap script: Data are loaded using this script for the moment.
        it exposes a Joshfire.factory.data object to querry data -->
    <script data-joshfire-bootstrap="" src="/js/bootstrap.js"></script>

    <script type="text/javascript">
        // Create the CSS link dynamically, depending on which theme has been chosen in the template config
        var theme = Joshfire.factory.config.template.options.theme || 'dark';
        var link = document.createElement('link');
        link.href = "//Microsoft.WinJS.1.0/css/ui-" + theme + ".css";
        link.rel = "stylesheet";

        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!-- Template references -->
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/data.js"></script>
    <script src="/js/navigator.js"></script>
    <script src="/js/default.js"></script>
</head>
<body>
    <div id="contenthost" data-win-control="Application.PageControlNavigator" data-win-options="{home: '/pages/groupedItems/groupedItems.html'}"></div>
    <!-- <div id="appbar" data-win-control="WinJS.UI.AppBar">
        <button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{id:'cmd', label:'Command', icon:'placeholder'}"></button>
    </div> -->
</body>
</html>
