<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b30a4ebb-7565-4b25-9931-9c9c8dea4e6d" Version="1.0.0.0" Publisher="CN=Steren" />
  <Properties>
    <DisplayName>Template</DisplayName>
    <Description>Template</Description>
    <PublisherDisplayName>Steren</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Template" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Template" ForegroundText="light" BackgroundColor="#7db9e8">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>