<!doctype HTML>
<html>
    <head>
        <title>Help settings flyout</title>
    </head>
    <body>
        <!-- BEGINSETTINGFLYOUT -->
        <div data-win-control="WinJS.UI.SettingsFlyout" aria-label="Help settings flyout" data-win-options="{settingsCommandId:'about', width:'narrow'}">
            <div class="win-ui-light win-header" style="background-color:#FF0000"> <!-- Background color reflects app's personality -->
               <button type="button" onclick="WinJS.UI.SettingsFlyout.show()" class="win-backbutton"></button>
               <div class="win-label">About</div>
            </div>                
            <div class="win-content ">
                <div class="win-settings-section">
                    <h3>About TEDxParis</h3>
                    <p>TEDxParis a été fondé en avril 2009 par Michel Levy-Provençal. TEDxParis est la première conférence TEDx européenne et fait partie des 3 premières conférences TEDx mondiale a avoir été créée. Elle n’a cessé au fil des ans de se développer dans un esprit d’ouverture et de partage. L’équipe organisatrice est également secondée par les membres de la communauté et de nombreux contributeurs. De cette façon, TEDxParis est créé dans une double exigence de professionnalisme et de passion.</p>

                    <h3>About the Joshfire Factory</h3>
                    <p>This application is built using the <a href="http://factory.joshfire.com">Joshfire Factory</a>. The Joshfire Factory is a freely available online tool that focuses on easy cross-device application packaging and deployment. It doesn’t require any line of code: you select templates and fill them with your data, then select a deploy target such as the web, mobile apps or the Windows Store.</p>
                </div>
            </div>
        </div>
        </div>
        <!-- ENDSETTINGSFLYOUT -->
    </body>
</html>
