<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>itemDetailPage</title>
    
    <!-- WinJS references -->
    <script src="//Microsoft.WinJS.1.0.RC/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0.RC/js/ui.js"></script>

    <link href="/css/default.css" rel="stylesheet" />
    <link href="/pages/itemDetail/itemDetail.css" rel="stylesheet" />
    <script src="/js/data.js"></script>
    <script src="/pages/itemDetail/itemDetail.js"></script>
</head>
<body>

    <!-- Templates -->
    <article class="videoDetailTemplate" data-win-control="WinJS.Binding.Template">
        <div class="anitem avideo">   
            <iframe class="item-video" src="#" data-win-bind="src: embedURL"></iframe>
            <div class="textinfo">
                <div class="metainfo">
                    <div class="author">Published by <h2 class="authorname"></h2></div>
                    <div class="date">on the <span class="datepublished"></span></div>
                </div>
                <p class="description" data-win-bind="textContent: description"></p>
            </div>
        </div>
    </article>
    <article class="imageDetailTemplate" data-win-control="WinJS.Binding.Template">
        <div class="anitem animage">  
            <img data-win-bind="src: contentURL" />
            <div class="textinfo">
                <div class="metainfo">
                    <div class="author">Published by <h2 class="authorname"></h2></div>
                    <div class="date">on the <span class="datepublished"></span></div>
                </div>
                <p class="description" data-win-bind="textContent: description"></p>
            </div>
        </div>
    </article>
    <article class="blogpostDetailTemplate" data-win-control="WinJS.Binding.Template">
        <div class="anitem ablogpost">  
            <header>
                <div class="mask"><img src="#" data-win-bind="" /></div>
                <div class="metainfo">
                    <div class="author">Published by <h2 class="authorname"></h2></div>
                    <div class="date">on the <span class="datepublished"></span></div>
                </div>
            </header>
            <article class="content" data-win-bind="textContent: articleBody"></article>
        </div>
    </article>

    <!-- The content that will be loaded and displayed. -->
    <div class="itemdetailpage fragment">
        <header aria-label="Header content" role="banner">
            <button class="win-backbutton" aria-label="Back" disabled></button>
            <h1 class="titlearea win-type-ellipsis">
                <span class="pagetitle"></span>
            </h1>
        </header>
        <section aria-label="Main content" role="main">
            <div id="detailsFlipView" style="height: 500px;" data-win-control="WinJS.UI.FlipView"></div>
        </section>
    </div>
</body>
</html>
