#detailsFlipView {
    height: calc(100% - 50px)!important;
}

    #detailsFlipView .anitem {
        box-sizing: border-box;
        height: 100%;
        position: absolute;
        left: 125px;
        right: 125px;
        top: 0;
        text-align: center;
    }
        
        #detailsFlipView .anitem img {
            display: block;
            position: relative;
            max-height: 100%;
            max-width: 70%;
            float: left;
        }
        
        #detailsFlipView .anitem .textinfo {
            float: right;
            height: 100%;
            width: 27%;
            padding-left: 3%;
            text-align: left;
        }

            #detailsFlipView .anitem .textinfo .description {
                text-align: justify;
            }
        
            #detailsFlipView .anitem .textinfo .author {
                color: #CCC;
                margin-bottom: 8px;
            }

            #detailsFlipView .anitem .textinfo .author .authorname {
                word-break: break-all;
                color: #FFF;
            }

            #detailsFlipView .anitem .textinfo .date {
                margin: 10px 0;
                color: #CCC;
            }
            
                #detailsFlipView .anitem .textinfo .date .datepublished {
                    word-break: normal;
                }

        #detailsFlipView .anitem .item-video {
            height: 100%;
            width: 70%;
            position: absolute;
            top: 0;
            left: 0;
        }

    #detailsFlipView .ablogpost {
        width: auto;
    }

    #detailsFlipView .ablogpost header {
        width: 400px;
        height: 100%;
        float: left;
        padding-right: 30px;
        width:calc(400px - 30px);
    }
    
        #detailsFlipView .ablogpost header img  {
            width: 100%;
            max-width: 100%;
            float: left;
        }

        #detailsFlipView .ablogpost header .metainfo {
            width: 100%;
            float: left;
        }
        
    #detailsFlipView .ablogpost article {
        column-width: 250px;
        column-gap: 30px;
        height: 100%;
        float: left;
        width: calc(100% - 400px);
        text-align: justify;
        line-height: 1.6em;
        overflow-x: scroll;
        overflow-y: hidden;
    }
            
        #detailsFlipView .ablogpost article * {
            max-width: 100%;
        }
        
        #detailsFlipView .ablogpost article a {
            display: inline-block;
        }

        #detailsFlipView .ablogpost article img {
            max-width: 100%;
            display: block;
        }
    
        #detailsFlipView .ablogpost article p {
            margin: 0;
        }
    
    #detailsFlipView .ablogpost .textinfo {
        height: auto;
        width: auto;
        float: left;
    }
    
#detailsFlipView .anitem.astatus {
    position: absolute;
    height: 140px;
    top: 40%;
    margin-top: -70px;
}

    .astatus header {
        position: absolute;
        top: 5px;
        left: 0;
        width: 140px;
        height: 100%;
    }

        .astatus header .mask {
            width: 100%;
            height: 140px;
        }

            .astatus header .mask img {
                width: 100%;
                max-width: none!important;
            }
            

.itemdetailpage .astatus .content {
    text-align: left;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 170px;
    right: 0;
    bottom: 0;
    width: auto;
}

    .astatus .content p {
        font-size: 2.5em;
        text-align: left;
        margin: 20px 0 0 0;
    }
    
    .astatus .content .meta {
        position: absolute;
        top: 0;
        left: 0;
    }

    .astatus .content .meta > * {
        font-size: 1.4em;
        float: left;
        margin-right: 10px;
    }
    
        .astatus .content .meta .authorname {
            font-weight: bold;
        }
        .astatus .content .meta .authorhandle {
            color: #808080;
        }
        .astatus .content .meta .datepublished {
            float: right;
            color: #808080;
        }

.itemdetailpage .content {
    -ms-grid-row: 2;
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .itemdetailpage .content article {
        /* Define a multi-column, horizontally scrolling article by default. */
        column-fill: auto;
        column-gap: 80px;
        column-width: 480px;
        height: calc(100% - 50px);
        margin-left: 120px;
        margin-top: 5px;
        width: 480px;
    }

        .itemdetailpage .content article header .item-title {
            margin-bottom: 20px;
            margin-top: 0;
        }

        .itemdetailpage .content article header .item-subtitle {
            margin-bottom: 20px;
            margin-top: 0;
        }

        .itemdetailpage .content article .item-image {
            height: 240px;
            margin-bottom: 3px;
            width: 460px;
        }

        .itemdetailpage .content article .item-content p {
            margin-bottom: 20px;
            margin-right: 20px;
            vertical-align: baseline;
        }

@media screen and (-ms-view-state: snapped) {
    .itemdetailpage .content {
        overflow-x: hidden;
        overflow-y: auto;
    }

        .itemdetailpage .content article {
            /* Define a single column, vertically scrolling article in snapped mode. */
            -ms-grid-columns: 300px 1fr;
            -ms-grid-row: 2;
            -ms-grid-rows: auto 60px;
            display: -ms-grid;
            height: 100%;
            margin-left: 20px;
            width: 300px;
        }

            .itemdetailpage .content article .item-image {
                height: 140px;
                width: 280px;
            }

            .itemdetailpage .content article .item-content {
                padding-bottom: 60px;
            }

    .itemdetailpage #detailsFlipView .astatus {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }

    .itemdetailpage #detailsFlipView .astatus header {
        height: 190px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 65px;    
    }

        .itemdetailpage #detailsFlipView .astatus header .mask {
            height: 100%;
            width: 100%;
        }

        .itemdetailpage #detailsFlipView .astatus header img {
            width: 100%;
            height: 100%;
        }
        
    .itemdetailpage #detailsFlipView .astatus article {
        position: absolute;
        top: 200px;
        left: 10px;
        right: 10px;
        bottom: 0;    
    }

        .itemdetailpage #detailsFlipView .astatus article .meta {
            float: left;
            width: 100%;
            position: relative;
        }

            .itemdetailpage #detailsFlipView .astatus article .meta > * {
                display: block;
                text-align: center;
                padding: 0px 3px;
                float: none;
                clear: both;
                margin: 0;
                font-size: 1em;
            }

        .itemdetailpage #detailsFlipView .astatus article > p {
            float: left;
            margin-top: 10px;
            font-size: 1.5em;
            box-sizing: border-box;
            padding: 0 55px;
        }

    #detailsFlipView {
        height: calc(100% - 50px)!important;
    }

        #detailsFlipView .ablogpost {
        
        }
        
            #detailsFlipView .ablogpost header {
                width: 100%;
                height: 40%;
                position: relative;
            }
            
                #detailsFlipView .ablogpost header .mask {
                    height: 80%;
                    overflow: hidden;
                }

                    #detailsFlipView .ablogpost header .mask img {
                        height: auto;
                        width: 100%;
                        max-height: none;
                        margin: 0 auto;
                    }
                
                #detailsFlipView .ablogpost header .textinfo {
                    height: 20%
                }
                
            #detailsFlipView .ablogpost article {
                width: 100%;
                column-count: 0;
                column-width: auto;
                overflow-y: scroll;
                height: 60%;
                padding-top: 20px;
            }
            
                #detailsFlipView .ablogpost article img {
                    max-width: 100%;
                    width: auto;
                    height: auto;
                }
            
        #detailsFlipView .anitem {
            box-sizing: border-box;
            border: none;
            padding: 0 20px;
            background-color: transparent;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }

            #detailsFlipView .anitem .textinfo {
                float: initial;
                height: auto;
                width: 100%;
                text-align: justify;
                padding-top: 20px;
            }
            
            #detailsFlipView .anitem img {
                display: inline;
                position: relative;
                max-height: 100%;
                max-width: 100%;
                width: 100%;
                height: auto;
            }

            #detailsFlipView .anitem .item-video {
                display: inline;
                max-height: 100%;
                width: 100%;
                position: relative;
                height: auto;
            }
            
            #detailsFlipView .anitem .authorname {
                font-size: 16px;
                text-align: left;
                font-weight: bold;
                display: inline;
            }

            #detailsFlipView .anitem .textinfo .date {
                color: #CCC;
                font-size: 14px;
                margin-top: 0;
            }
            
            #detailsFlipView .anitem .description {
                font-size: 14px;
                color: #CCC;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {

    #detailsFlipView .ablogpost {
        overflow-y: scroll;
        overflow-x: hidden;
    } 
    
    #detailsFlipView .ablogpost header {
        width: 100%;
        height: auto;
        float: left;
    }
         #detailsFlipView .ablogpost header .mask {
            height: 80%;
            overflow: hidden;
        }

            #detailsFlipView .ablogpost header .mask img {
                height: auto;
                width: 100%;
                max-height: none; 
                margin: 0 auto;
            }
                
        #detailsFlipView .ablogpost header .textinfo {
            height: 20%
        }
        
    #detailsFlipView .ablogpost article {
        width: 100%;
        height: auto;
        float: left;
        column-count: 0; 
        column-width: auto;
        overflow: hidden;
    }
    
    #detailsFlipView .anitem {
        left: 105px;
        right: 105px;
    }
	
        #detailsFlipView .anitem .main-image {
            max-width: none;
            width: 100%;
        }
		
		#detailsFlipView .anitem .item-video {
		max-height: 100%;
		width: 100%;
		height:30%;
		position: relative;
	}
	
    #detailsFlipView .anitem .textinfo {
        height: 100%;
        width: 100%;
    }
}
